/**Styling the body**/
body {
    margin: 10;
    padding: 10;
}

/*Styling the logo***/
.logo {
    text-align: left;
    /* Center align text */
    padding: 10px;
    /* Add padding for spacing */
    background-color: #fffafa;
    border-top: 1px #333 solid;
    border-bottom: 1px #333 solid;
}

/* Background color */
.logo h2 {
    font-family: 'Arial', sans-serif;
    /* Font family */
    font-size: 32px;
    /* Font size */
    font-weight: bold;
    /* Font weight */
    color: #333;
    /* Text color */
    margin: 5px 0px 0px 0px;
    /* Bottom margin */
}

/* Styles for the subheading */
.logo sub {
    font-family: 'Arial', sans-serif;
    /* Font family */
    font-size: 16px;
    /* Font size */
    color: #666;
    /* Text color */
    margin-top: 0px;
    text-align: right;
}

/**Styling the nav bar**/
nav {
    padding: auto;
    margin: 2px;
    border-bottom: 2px #333 solid;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}


nav ul li {
    text-decoration-style: none;
    text-align: left;
    padding: 5px;
    margin: 3px;
    background-color: #fffafa;
    border-radius: 5px;
    border: 2px black solid;
}

nav ul li a {
    text-decoration: none;
    color: black;
    transition: color 0.23s ease;
}

nav ul li a:hover {
    color: #ff6347;
}

/**Styling all h1, all page most be same consistance**/
h1 {
    font-family: Arial, sans-serif;
    text-decoration: underline;
    color: #2d71c4;
    font-size: 32px;
}

/**Styling all h2, all pages most be consisant**/
h2 {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 0px;
    padding: 0px;
}

p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 2px 2px 2px 8px;
    padding: 3px;
}

.Home-img {
    display: block;
    margin: 0px auto;
    width: 70%;
    height: 500px;
    border: 2px #ff6347 solid;
    border-radius: 4px;
}

/**Sytling The form**/
form {
    display: grid;
    grid-template: repeat(4, 20%) / repeat(4, 20%);
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 50%;
}

fieldset {
    grid-area: 1/1/6/6;
}

legend {
    display: block;
    border: 1px black solid;
    top: 0px;
    margin: 25px 0px 10px 0px;
    text-align: left;
}

.firstname-label,
.secondname-label,
.email-label,
.textare-label {
    display: block;
    text-align: center;
}

.textare-container {
    display: flex;
}

/**Styling the link page**/
.ListofLinks {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

.ListofLinks li {
    text-decoration-style: none;
    text-align: left;
    padding: 5px;
    margin: 3px;
    background-color: #fffafa;
    border-radius: 5px;
    border-bottom: 2px #333 solid;
}

.ListofLinks li a {
    text-decoration: none;
    color: black;
    transition: color 0.23s ease;
}

.ListofLinks li a:hover {
    color: #ff6347;
    font-size: 25px;
}

/**Styling OurSerivecs page**/
.img-container {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px;
}

.grid a {
    display: block;
    text-align: center;
}

.grid img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

.grid figcaption {
    margin-top: 5px;
}
